<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Metrics</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Smokey & Lemoneh</h1>
    </header>
    <div class="container">
        <div class="metric">
            <h2>CPU</h2>
            <p>Usage: <span id="cpu-usage">Loading...</span>%</p>
            <p>Temperature: <span id="cpu-temperature">Loading...</span>°C</p>
        </div>
        <div class="metric">
            <h2>RAM</h2>
            <p>Usage: <span id="ram-usage">Loading...</span>%</p>
            <p>Total: <span id="ram-total">Loading...</span> GB</p>
            <p>Free: <span id="ram-free">Loading...</span> GB</p>
            <div>
                <button id="clear-cache">Clear Cache</button>
            </div>            
        </div>
        <div class="metric">
            <h2>Disk</h2>
            <p>Usage: <span id="disk-usage">Loading...</span>%</p>
            <p>Free Space: <span id="disk-free">Loading...</span> GB</p>
        </div>
        <div class="metric">
            <h2>GPU</h2>
            <p>Name: <span id="gpu-name">Loading...</span></p>
            <p>Temperature: <span id="gpu-temperature">Loading...</span>°C</p>
            <p>Utilization: <span id="gpu-utilization">Loading...</span>%</p>
        </div>
        <div class="volume-controls">
            <h2>Vloume</h2>
            <button id="increase-volume">+ 10%</button>
            <button id="decrease-volume">- 10%</button>
            <button id="mute">Mute</button>
            <button id="unmute">Unmute</button>
        </div>
        
    </div>
    <script>
        // Show a popup with the IP address
        window.onload = function() {
            const ipAddress = "{{ ip_address }}";  // Flask will inject the IP address here
            alert("This is the link to use on your phone: 'http://" + ipAddress + ":5000'");
        }
    </script>
    
    <script src="/static/script.js"></script>
</body>
</html>
